<%- include("partials/header.ejs", {user}) %>

<body>

    <!-- editing form -->
    <div class="large-tan-box">
        <h3 id="edit-title">Editing <%= blogPosts[blogIndex].title %></h3>
        <form action="/update" method="POST">
            <input type="text" class="large-write-prompt" name="title" placeholder="Blog title" required value="<%= blogPosts[blogIndex].title %>"/>
            <input type="text" class="large-write-prompt" name="author" placeholder="Your name" required value="<%= blogPosts[blogIndex].author %>"/>

            <select class="large-write-prompt" name="category" required>
                <option value="Trails" <%= blogPosts[blogIndex].category === "Trails" ? "selected" : "" %>>Trails</option>
                <option value="Gear" <%= blogPosts[blogIndex].category === "Gear" ? "selected" : "" %>>Gear</option>
                <option value="Skills" <%= blogPosts[blogIndex].category === "Skills" ? "selected" : "" %>>Skills</option>
                <option value="Nature" <%= blogPosts[blogIndex].category === "Nature" ? "selected" : "" %>>Nature</option>
            </select>

            <textarea class="large-write-prompt" name="content" rows=10 cols=60 placeholder="Blog Content" required><%= blogPosts[blogIndex].content %></textarea>

            <input type="hidden" name="blogNum" value="<%= blogIndex %>">
            <br>
            <input class="submit-btn button" type="submit" value="Update">
        </form>
    </div>
    
</body>